# Avito URLs (разделённые запятой)
AVITO_URLS=https://www.avito.ru/brands/i29381019/items/all/zapchasti_i_aksessuary/shiny_diski_i_kolesa/diski-ASgBAgICAkQKJooL_JwB?s=profile_search_filters&sellerId=fb092f150af9bcf92dc781219ea15029

# Site API Configuration
SITE_API_URL=https://api.onlywheels.ru
BEARER_TOKEN=your_bearer_token_here

# Database
DB_PATH=./data/products.db

# Server
PORT=3001
